body {
    font-family: 'Bree Serif', serif;
}

a {
    text-decoration: none;
    color: #000000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-bottom: 0.1rem solid #000000;
    padding: 0.5rem;
    background-color: #55b3f3;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    height: auto;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 0.1rem solid #000000;
    padding: 0.5rem;
    background-color: #55b3f3;
}

footer img {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
}

main {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
}

.box {
    border: 0.1rem solid #000000;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    border-radius: 0.3rem;
}

.boxzinho {
    border: 0.1rem solid #000000;
    width: 100%;
    height: auto;
    padding: 0.2rem;
    margin: 0.3rem;
    display: flex;
    border-radius: 0.3rem;
}

section a {
    background-color: #56adc6;
}

.sectioncentro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

.grafico {
    width: 150%;
    height: auto;
}

.jcenter {
    display: flex;
    justify-content: center;
}
